<img class="wave" src="../../../assets/img/wave.png">
<div class="container">
	<div class="img">
		<img src="../../../assets/img/bg.png">
	</div>
		<div class="login-content">
			<form action="index.html">
				<img src="../../../assets/img/avatar.png">
				<h2 class="title">Spa de Mascotas</h2>
                <body>
					<h3 class="title">Las mascotas son lo mas importante para sus dueños</h3>
					<h3 class="title">por eso aqui les damos lo mejor</h3>
				</body>
            	<input type="submit"  routerLink="/signin" class="btn" value="Iniciar sesión">
            </form>            
    </div>
</div>

