<div>  
<button class="btn btn-success float-end" routerLink="/signup">Agregar Empleado</button>
<h1>Lista de empleados</h1>
<table *ngIf="listEmpleados.length > 0" class="table table-striped mt-3" [dataSource]="dataSource">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Correo</th>
        <th scope="col">Telefono</th>
        <th scope="col">Salario</th>
        <th scope="col">Rol</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let empleado of listEmpleados">
        <td>{{empleado.id}}</td>
        <td>{{ empleado.firstName }}</td>
        <td>{{ empleado.firstlastName }}</td>
        <td>{{ empleado.email }}</td>
        <td>{{ empleado.phoneNumber}}</td>
        <td>{{ empleado.salary}}</td>
        <td>{{ empleado.role}}</td>
        <td>
            <i [routerLink]="['/edit-empleado', empleado.id]" class="fas fa-edit text-primary pointer"></i>
            <i (click)="eliminarEmpleado(empleado.id)" class="fas fa-trash text-danger pointer"></i>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons> </mat-paginator>
