<button class="btn btn-success float-end" routerLink="/signup-mascota">Agregar Mascota</button>
<h1>Lista de Mascotas</h1>
<table *ngIf="listMascotas.length > 0" class="table table-striped mt-3">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nombre</th>
        <th scope="col">Raza</th>
        <th scope="col">Tamaño</th>
        <th scope="col">Año de Nacimiento</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let mascota of listMascotas">
        <td>{{mascota.id}}</td>
        <td>{{mascota.name}}</td>
        <td>{{ mascota.breed }}</td>
        <td>{{ mascota.size }}</td>
        <td>{{ mascota.birthyear }}</td>
        <td>
            <i [routerLink]="['/edit-mascota', mascota.id]" class="fas fa-edit text-primary pointer margin"></i>
            <i (click)="eliminarMascota(mascota.id)" class="fas fa-trash text-danger pointer margin"></i>
            <i [routerLink]="['/info-mascota', mascota.id]" class="fas fa-info text-center pointer margin"></i>
        </td>
      </tr>
    </tbody>
  </table>
  <h5 style="text-align: start; margin-top: 10px;" *ngIf="listMascotas.length == 0">No hay mascotas registradas</h5>
